.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;

}

.search-input {
    max-width: 300px;
}

.location-filter,
.status-filter {
    margin-left: 10px;
}

.input-group {
    justify-content: flex-end;
}

.location_filter {
    width: 100%;
    color: #d34040;
    padding: 10px;
    border-radius: 5px;
}

/* Remove any specific width set to the container */
.status_filter {
    width: 100% !important;
    color: #609fff;
}


.location_filter label {
    margin-right: 15px;
}

@media(max-width: 576px) {
    .location_filter {
        text-align: center;
    }

    .location_filter label {
        display: block;
        margin-bottom: 5px;
    }
}

.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: fill;
    /* Ensure full visibility */
}

.card-body {
    padding: 20px;
    background-color: #f8f9fa;
    /* Light gray background */
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.status-tag {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
    /* Dark gray color for status */
}

.show-more-btn {
    color: #007bff;
    /* Blue color for link */
    text-decoration: none;
    font-weight: bold;
}

.show-more-btn:hover {
    text-decoration: underline;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
}

.location-filter,
.status-filter {
    flex: 1 1 100%;
    margin-right: 20px;
}

.search-container {
    flex: 0 1 100%;
    margin-top: 20px;
}

@media (min-width: 576px) {

    .location-filter,
    .status-filter {
        flex: 0 1 auto;
        margin-right: 0;
    }

    .search-container {
        margin-top: 0;
    }
}

.conti {
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: baseline; */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;

}

.conti .card {
    width: 100% !important;
}